@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media print {
    @page {
        size: landscape;
    }

    @page {
        margin: 0;
    }

    body * {
        visibility: hidden;
    }

    .printableArea,
    .printableArea * {
        visibility: visible;
    }

    .printableArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .no-print {
        display: none !important;
    }
}

.container {
    max-width: auto;
    margin: 0 auto;
    /* padding: 7px; */
    width: 100%;
}

.btn {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 0;
}

.table {
    margin-top: 20px;

}

h1 {
    color: #160e85;
}

.btn-primary {
    background-color: #3629FF;
    border-color: #3A72C1;
    border-radius: 0%;
}

.btn-Secondary {
    background-color: #675DEE;
    border-color: #675DEE;
    border-radius: 0%;
}

.btn-export {
    background-color: #293D7A;
    border-color: #293D7A;
    color: white;
    border-radius: 0%;
}

.btn-ajout {
    background-color: #4A41C5;
    border-color: #4A41C5;
    color: white;
    border-radius: 0%;
}

/*  */
.btn-primary:hover {
    background-color: #3629FF;
    border-color: #3A72C1;
    border-radius: 0%;
}

.btn-Secondary:hover {
    background-color: #675DEE;
    border-color: #675DEE;
    border-radius: 0%;
}

.btn-export:hover {
    background-color: #293D7A;
    border-color: #293D7A;
    color: white;
    border-radius: 0%;
}

.btn-ajout:hover {
    background-color: #4A41C5;
    border-color: #4A41C5;
    color: white;
    border-radius: 0%;
}

.btn-success {
    background-color: #1BB978;
    border-color: #1BB978;
}

.btn-outline-secondary {
    color: #A2ADCF;
    border-color: #A2ADCF;
}

.dropdown-menu {
    min-width: 100px;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.input-group-text {
    max-width: 250px;
    background-color: white;
    padding: 0rem 0.7rem 0rem 0.7rem;
    height: 40px;
    width: 100%;
    border-color: #A2ADCF;
    color: #A2ADCF;
}

/* .d-flex.justify-content-between.mb-3.no-print {
    gap: 3px;

} */


/* Custom styles for specific elements */



.input-group-text input {
    border: none;
    outline: none;
    height: 30px;
    width: 100%;
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;


}

.table-aaa .aa th {
    background-color: #F1F4FE;
    color: #293D7A;
}

.fa-filter {
    color: #A2ADCF;
}

.modal-content {
    border-radius: 0%;
}

.modal-content p {
    font-size: 10px;

}

.btn-danger {
    border-radius: 0%;
}

.btn-secondary,
.btn-success {
    border-radius: 0%;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

#sure {
    font-size: 14px;
    color: darkgray;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}

.pagination button.active {
    background-color: #293D7A;
    color: white;
}

.btn-outline-primary {
    border: none;
    background-color: #EEF0F9;
    border-radius: 50%;
    color: #4A41C5;
}

#noResults {
    display: none;
    color: red;
    margin-top: 10px;
}

/* .option {
    margin-left: 100px
} */

/* .modal.fa-triangle-exclamation {
    color: #ffca0a;
    height: 150;
    width: 150;
} */

/* Responsive adjustments */



@media (max-width: 768px) {
    .option {
        width: 100%;
        margin-left: 50%;
    }

}
